{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MaRQ generates federated SPARQL queries from RDF mappings">
    <meta name="author" content="Benjamin MOREAU">
    <title>EvaMap</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='{% static "css/freelancer.css" %}' rel="stylesheet" type="text/css">
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>

<body>
<div id="form">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <div class="navbar-brand js-scroll-trigger">MaRQ: Generating Federated Queries from RDF mappings</div>
        </div>
    </nav>

    <section class="page-section portfolio">
        <form class="was-validated" action="/result" method="post">

            <div class="container">
                <div class="row mt-5 ml-5">

                    <!-- your mapping -->
                    <div class="col-sm-5">
                        <div class="custom-file">
                            <label class="custom-file-label" for="yourmapping">Your mapping</label>
                            <input type="file" class="custom-file-input" id="yourmapping">
                        </div>
                    </div>

                    <!-- mapping to compare to -->
                    <div class="col-sm-3 ml-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkexemple1">
                            <label class="form-check-label" for="checkexemple1">exemple1.yml</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkexemple2">
                            <label class="form-check-label" for="checkexemple2">exemple2.yml</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkexemple3">
                            <label class="form-check-label" for="checkexemple3">exemple3.yml</label>
                        </div>
                        <div class="custom-file mt-sm-5">
                            <label class="custom-file-label" for="addmapping">Add mapping</label>
                            <input type="file" class="custom-file-input" id="addmapping" name="myFile">
                        </div>
                    </div>
                </div>
            </div>

            <!-- evaluate -->
            <div class="mx-auto mt-5" style="width: 270px">
                <button type="submit" class="btn btn-lg btn-outline-primary">Evaluate <i class="fas fa-vial"></i></button>
            </div>

        </form>
    </section>


    <!-- Copyright Section -->
    <section class="copyright py-2 text-center text-white fixed-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <img src='{% static "img/logo-ls2n.png" %}' alt="ls2n logo" height="50">
                </div>
                <div class="col-sm">
                    <small>This site is available on <a href="https://github.com/benjimor/EvaMap-Web">GitHub</a> under MIT license</small>
                </div>
                <div class="col-sm">
                    <img src='{% static "img/ods-logo.png" %}' alt="ods logo" height="30">
                </div>
            </div>
        </div>
    </section>
</div>

<script src='{% static "js/form.js" %}'></script>
</body>
</html>